<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto+Slab&display=swap');

        table {
            font-family: Montserrat, sans-serif;
            max-width: 600px;
            width: 100%;
        }
        tr {
            border: 1px solid black;
            height: 10px;
            background-color: yellow;
        }

        td {
            padding: 5px;
            height: 10px;
        }
    </style>
</head>
<body>
<table >
    <tr>
        <td colspan="3">logo</td>
        <td colspan="1">empty</td>
        <td colspan="4">text</td>
    </tr>
    <tr>
        <td colspan="8">Header 1 (with img)</td>
    </tr>
    <tr>
        <td colspan="8">Common text</td>
    </tr>
    <tr>
        <td colspan="2">img</td>
        <td colspan="6">text</td>
    </tr>
    <tr>
        <td colspan="6">text</td>
        <td colspan="2">img</td>
    </tr>
    <tr>
        <td colspan="2">img</td>
        <td colspan="6">text</td>
    </tr>
    <tr>
        <td colspan="8">Header 2</td>
    </tr>
    <tr>
        <td colspan="8">
            <table>
                <tr>
                    <td colspan="8">Subtable header</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
                <tr>
                    <td colspan="1">+</td>
                    <td colspan="7">Text in subtable</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="8">
            <p>text</p>
            <a href="">Перейти на сайт</a>
            <br>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <a href="">Insta</a>
            <a href="">Fb</a>
            <a href="">Vk</a>
        </td>
        <td colspan="4">
            <span>img</span>
            <a href="">+7 000 000 00 00</a>
            <br>
            <span>email</span>
            <a href="">exapmple@example.com</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="">Link 1</a>
        </td>
        <td colspan="2">
            <a href="">Link 2</a>
        </td>
        <td colspan="2">
            <a href="">Link 3</a>
        </td>
        <td colspan="2">
            <a href="">Link 4</a>
        </td>
    </tr>
</table>
</body>
